/*  font-family: 'Inter', sans-serif;
font-family: 'Raleway', sans-serif; */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #fff;
}

/* navigation bar */

.navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
}

.nav-item {
    padding: 0 24px;
}

li, a, button {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    list-style-type: none;
    text-decoration: none;
    color: #7D9D9C;
    display: inline-block;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2%;
    height: 100px;
    width: 100%;
}

a {
    transition: all 0.3s ease 0s;
}

a:hover {
    transition: all ;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #EFB448;
}

.logo {
    max-width: 80px;
    vertical-align: middle;
}
